<div class="feedback">
  <div class="feedback-toggle">
    Feedback
  </div>

  <div class="feedback-input">
    <%= form_for :feedback, url: feedy.feedback_index_path, html: { id: 'feedback-form' }, remote: true do |f| %>
      <%= f.label :subject %>
      <%= f.text_field :subject %>

      <%= f.label :body %>
      <%= f.text_field :body %>

      <%= f.submit %>
    <% end %>
  </div>
</div>
