<!DOCTYPE html>
<html>
<head>
  <title>Feedy</title>
  <%= stylesheet_link_tag    "feedy/application", media: "all" %>
  <%= javascript_include_tag "feedy/application" %>
  <%= csrf_meta_tags %>
</head>
<body class='feedy'>

  <%= render 'layouts/feedy/header' %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
